.nav-footer-access{
    display: none;
}
.sidebar{

    font-family: 'Poppins', sans-serif;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: rgb(255, 241, 89);
        position: fixed;
        height: 74.5%;
        overflow: auto;
      }
      
    li a {
        display: block;
        color: black;
        font-weight: 500;
        padding: 8px 16px;
        text-decoration: none;
      }
      
      li a:active {
        background-color: rgb(0, 73, 156);
        color: white;
      }

      li a:focus:not(:active) {
        background-color: rgb(22, 107, 203);
        color: white;
      }
      
      li a:hover:not(:focus) {
        background-color: rgb(22, 107, 203);
        color: white;
      }
}

.bottomNavBar {
    ul {
        display: flex !important;
        bottom: 86px !important;
        width: 100% !important;
        height: 35px !important;
        justify-content: space-between !important;
    }
    
    li {
        width: 100% !important;
    }
    
    li a {
        font-size: 14px;
        display: block !important;
        text-align: center !important;
        height: 80px !important;
    }
    
    #bottomButton{
        display: none;
    }
}

.rightNavBar{
    ul {
        right: 0 !important;
    }
    #rightButton{
        display: none;
    }
}

.leftNavBar{
    ul {
        left: 0 !important;

    }
    #leftButton{
        display: none;
    }
}